.text-wrapper {
  position: absolute;
  bottom: 50px;

  @media screen and (max-width: 530px) {
    bottom: 90px;
  }
}

.page-content {
  position: fixed;
}

.main-container .container-fluid {
  position: relative;
}
